{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'intro.css' %}">
 
        <title>its working </title>

    </head>
    <body>
        <div class = "maindiv">
                <nav>
                    <ul>
                        <li><a href=""></a>Home</li>
                        <li><a href=""></a>About me</li>
                        <li class = "join"><a href=""></a><span>Join Now</span></li>
    
                    </ul>
                </nav>
                <div class = "maintext">
                    <h1>The simple solution to boring math classes</h1>
                    <p>Learn how YOU will be able to go from that borderline fail to constant 90+ with just the cost of a coffee</p>
                </div>



        </div> 
        <div class = "describe" >
            <h1> How Does This Work? </h1>
            <p>Conventienal math classes where the teacher talks in the most monotone voice ever should not even be a math 
                class. It would be more productive if it was used for sleeping. This is one of the reasons why it is so hard to do 
                good in these math classes, the concepts are described are uninteresting and unapplicalble. Also in this convential system, there is so much information 
                you have to stuff inside your brain in a short amount of time. This causes stress and makes learning unfun. With this program, with only the cost of a coffee, you will
                be able to learn all the concepts you need and with EVERY concept(even small ones) there will be a problem to check you understanding(unlike tests which expect you learn a million concepts in 3 days)
                that will motivate you to go further. Each math concept will also show the applicalbe uses for real life to make it more engaging and interesting. </p>
        </div>
        <h1> About Me </h1>
        <h1> Join Now </h1>


        
    </body>



</html>